@model GSOptima.Models.ModalFooter

<div class="modal-footer">
    @*@if (Model.ButtonType == ModalButtonType.CancelButtonOnly)
    {
        <button class="btn btn-success" id="@Model.CancelButtonID" type="submit">
            @Model.CancelButtonText
        </button>
    }
    @if (Model.ButtonType == ModalButtonType.OKButtonOnly)
    {
        <button class="btn btn-success" id="@Model.OKButtonID" type="submit">
            @Model.OKButtonText
        </button>
    }
    @if (Model.ButtonType == ModalButtonType.SubmitCancelButton)
    {
        <button class="btn btn-success" id="@Model.SubmitButtonID" type="submit">
            @Model.SubmitButtonText
        </button>
        <button class="btn btn-success" id="@Model.CancelButtonID" type="submit">
            @Model.CancelButtonText
        </button>
    }*@

    <button data-dismiss="modal" id="@Model.CancelButtonID" class="btn btn-default" type="button">@Model.CancelButtonText</button>
    @if (!Model.OnlyCancelButton)
    {
        <button class="btn btn-success" id="@Model.SubmitButtonID" type="submit">            
               @Model.SubmitButtonText</button>
    }
</div>
